src/wsdl/MyWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/zy/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyService"
	targetNamespace="http://www.example.org/zy/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/zy/">
			<xsd:element name="add" type="tns:add" />
			<xsd:element name="addResponse" type="tns:addResponse" />
			<xsd:element name="list" type="tns:list"></xsd:element>
			<xsd:element name="listResponse" type="tns:listResponse"></xsd:element>

			<xsd:complexType name="add">
				<xsd:sequence>
					<xsd:element name="user" type="tns:user"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="addResponse">
				<xsd:sequence>
					<xsd:element name="result" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="list">
				<xsd:sequence />
			</xsd:complexType>
			<xsd:complexType name="listResponse">
				<xsd:sequence minOccurs="0" maxOccurs="unbounded">
					<xsd:element name="user" type="tns:user" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="user">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="gender" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="addRequest">
		<wsdl:part element="tns:add" name="parameters" />
	</wsdl:message>
	<wsdl:message name="addResponse">
		<wsdl:part element="tns:addResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="list">
		<wsdl:part element="tns:list" name="parameters" />
	</wsdl:message>
	<wsdl:message name="listResponse">
		<wsdl:part element="tns:listResponse" name="parameters"/>
	</wsdl:message>
	
	<wsdl:portType name="IMyService">
		<wsdl:operation name="add">
			<wsdl:input message="tns:addRequest" />
			<wsdl:output message="tns:addResponse" />
		</wsdl:operation>
		<wsdl:operation name="list">
			<wsdl:input message="tns:list" />
			<wsdl:output message="tns:listResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	
	<wsdl:binding name="MyserviceSOAP" type="tns:IMyService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<!-- <soap:operation soapAction="http://www.example.org/zy/NewOperation" /> -->
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="list">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="MyService">
		<wsdl:port binding="tns:MyserviceSOAP" name="MyServiceSOAP">
			<soap:address location="http://www.localhost:8989/zy/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
