src/wsdl/test.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
		xmlns:tns="http://www.example.org/zy/" 
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		name="TestImpl" targetNamespace="http://www.example.org/zy/">
  <wsdl:types>
  	<xsd:schema targetNamespace="http://www.example.org/zy/">
  		<xsd:element name="fn">
	  		<xsd:complexType>
	  			<xsd:sequence>
	  				<xsd:element name="param" type="xsd:string" />
	  				<xsd:element name="otherArg" type="xsd:int" />
	  			</xsd:sequence>
	  		</xsd:complexType>
  		</xsd:element>
  		<xsd:element name="fnRes" type="tns:fnResType" />
  		
  		<xsd:complexType name="fnResType">
  			<xsd:sequence>
  				<xsd:element name="fnResResult" type="xsd:string" />
  			</xsd:sequence>
  		</xsd:complexType>
  	</xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="fnReqMsg">
  	<wsdl:part name="fnPart" element="tns:fn"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="fnResMsg">
  	<wsdl:part name="fnResPart" element="tns:fnRes"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="asd">
  	<wsdl:part name="asdPart" element="tns:fn"></wsdl:part>
  	<wsdl:part name="qwePart" element="tns:fnRes"></wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="ITest">
  	<wsdl:operation name="fn">
  		<wsdl:input message="tns:fnReqMsg" />
  		<wsdl:output message="tns:fnResMsg" />
  	</wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="TestServiceSOAP" type="tns:ITest">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="fn">
  		<wsdl:input>
  			<soap:body use="literal"/>	
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="TestImpl">
  	<wsdl:port name="port" binding="tns:TestServiceSOAP">
  		<soap:address location="http://localhost:9999/zy"/>
  	</wsdl:port>
  </wsdl:service>
</wsdl:definitions>
