src/_ws/jaxws/wsdl/MyService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="http://www.example.org/MyService/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="MyService" targetNamespace="http://www.example.org/MyService/">
	
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/MyService/">
      <xsd:element name="add">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="a" type="xsd:int"/>
            <xsd:element name="b" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addResponse" type="tns:addRes" />
      
      <xsd:complexType name="addRes">
      	<xsd:sequence>
      		<xsd:element name="addResult" type="xsd:int" />
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="addMethod">
    <wsdl:part element="tns:add" name="addFn"/>
  </wsdl:message>
  <wsdl:message name="addRe">
    <wsdl:part element="tns:addResponse" name="addReFn"/>
  </wsdl:message>
  
  <wsdl:portType name="IMyService"> <!-- 接口 -->
	<wsdl:operation name="add">
		<wsdl:input message="tns:addMethod" />
		<wsdl:output message="tns:addRe" />
	</wsdl:operation>    
  </wsdl:portType>
  
  <wsdl:binding name="MyServiceSOAP" type="tns:IMyService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="add">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="MyService">
    <wsdl:port binding="tns:MyServiceSOAP" name="MyServicePort">
      <soap:address location="http://www.localhost:8888/zy"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
